
/* ==== Main container =========================== */
.main-container{
    background-color: brown;
}
#prods{
    display: grid;
    row-gap: 3em;
}
.product{
    display: grid;
    background-color: black;
}
.prod-details{
    /* grid-template-columns: repeat(2, 50%); */
    /* justify-items: start; */
    display: grid;
    grid-template-areas: 
    "desc desc desc" 
    "pCat pCat rating"
    "price price btnCart";
    justify-content: space-between; 
}
.prodDesc{
    grid-area: desc;
}
.cat-name{
    /* grid-column: 1 /span 2; */
    grid-area: pCat;
}
.prod-rating {
    grid-area: rating;
    justify-self: end;
  }
.prod-Price{
    grid-area: price;
}
.add-to-cart-btn {
    grid-area: btnCart;
}
.pages{
    display: flex;
    gap: 2em;
    align-self: center;
}
.pagination{
    display: flex;
    gap: 2em;
    margin-top: 2em;
    justify-content: center;
}


/* ======== start Media Queries ==================*/
@media only screen and (min-width: 992px){

    /* ====== main container ============================== */
    #prods{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        /* justify-items: center; */
        justify-content:space-between;
    }

}

@media only screen and (min-width: 1316px){

    /* ====== main container ============================== */
    #prods{
        display: grid;
        grid-template-columns: repeat(3, 29%);
        /* justify-items: center; */
        justify-content:space-between;
    }
    .product{
        /* width: 250px;
        height: 250px; */
    }
}

